Vagrant/.vagrant/  
Vagrant/ubuntu-xenial-16.04-cloudimg-console.log
Node_js_deployment_exercise/starter-code/node_modules/
Node_js_deployment_exercise/starter-code/.vagrant/
Node_js_deployment_exercise/starter-code/app/node_modules/
Node_js_deployment_exercise/starter-code/npm-debug.log
Node_js_deployment_exercise/starter-code/app/npm-debug.log
Node_js_deployment_exercise/Multi_Machine/npm-debug.log
Node_js_deployment_exercise/Multi_Machine/app/npm-debug.log
Node_js_deployment_exercise/Multi_Machine/.vagrant/
Node_js_deployment_exercise/Multi_Machine/app/node_modules/
Node_js_deployment_exercise/Multi_Machine/node_modules/
Node_js_deployment_exercise/starter-code/app/default.swp/